* {
    box-sizing: border-box;
}

/*공백없애기*/
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #181818;
    font-size: 1.2rem;
    font-weight: bold;
}
.color1
{
    background: #018d44;
}
.color2
{
    background: #ffffff;
}

.color3
{
    background: #c72a35;;
}

.color4
{
    background: #002552;
}

.color5
{
    background: #ffffff;
}

.color6
{
    background: #c81025;
}

.color7
{
    background: blue;
}


.color8
{
    background: #ffffff;
}


.color9
{
    background: #c72a35;
}
