@charset "utf-8";


/*한개씩 고정*/

/*.container{*/
/*    display: grid;*/
/*    grid-template-columns:  100px 100px 100px;*/
/*    grid-template-rows: 50px 50px 50px;*/
/*}*/


/*반복횟수 지정*/

/*.container{*/
/*    display: grid;*/
/*    grid-template-columns: repeat(3, 100px);*/
/*    grid-template-rows: 100px repeat(10, 50px);*/
/*}*/


/*현재화면의 20%씩 3개씩 60%채움*/

/*grid-template-columns: repeat(3, 20%);*/
/*비율 1fr 2fr 1fr;   1대 2대 1*/
/*repeat (5, 1fr)   5개 같은비율*/

.container{
    display: grid;
    grid-template-columns: 200px 400px 200px ;
    grid-template-rows: repeat(6, 100px);
    gap: 5px
}



/*화면 가로 사이즈가 500일때 적용할 스타일*/
@media screen and (max-width:1200px) {
    .container{
        display: grid;
        grid-template-columns: 200px 200px 200px ;
        grid-template-rows:  400px 400px 400px;
    }




}
