.movie {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 3px;
}

.movie .movie-title {
  flex-grow: 1;
  border:1px solid blue;
  text-align: center;
  height: 100px;
}

.movie .movie-year {
  flex-grow: 1;
  font-size: 0.7rem;
  color: red;
  align-content: center;
  border:1px solid red;
  text-align: center;
  height: 100px;
}



@media screen and (max-width: 600px) {
  .movie{
    text-align: right;
    flex-direction: column;
  }

  .movie .movie-title {
    flex-grow: 1;
    text-align: center;
    width: 100%;
  }

  .movie .movie-year {
    flex-grow: 1;
    width: 100%;
  }
}
